<button mat-icon-button [matMenuTriggerFor]="accountMenu">
    <mat-icon>person_pin</mat-icon>
  </button>
  <mat-menu #accountMenu="matMenu">
    <button mat-menu-item [routerLink]="'/profile/' + user._id">
      <mat-icon>settings</mat-icon>Profile
    </button>
    <button mat-menu-item routerLink="/">TODO: wishList</button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>power_settings_new</mat-icon>Logout
    </button>
  </mat-menu>
