mat-card-actions {
  display: flex;
  justify-content: space-around;
  align-items: center
}

mat-card {
  margin-bottom: 15px;
  margin-top: 15px;
}

img[mat-card-image] {
  height: 230px !important;
}

.describtion {
  height: 40px;
  overflow: hidden;
}

div[mat-card-avatar] {
  overflow: hidden;
}

.active {
  color: dodgerblue !important
}

.is-mine {
  color: #00e676 !important;
  position: absolute;
  z-index: 9999;
  top: 15px;
  left: 15px;
}

.mat-card-image {
  margin-top: -23px
}
