<mat-card>
      <mat-icon *ngIf="removeActions" class="is-mine" matTooltip="Your Item">done</mat-icon>
      <img
        mat-card-image
        [src]="product.image"
        [alt]="product._id"
        >
    <mat-card-header>
      <div mat-card-avatar>
          <img [src]="product.ownerImg" [alt]="product.ownerId">
      </div>
      <mat-card-title [routerLink]="'/profile/' + product.ownerId">{{ product.owner }}</mat-card-title>
      <mat-card-subtitle>{{ product.title }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <app-rate [rate]="product.rate"></app-rate>
    <p class="describtion">
      {{ product.describtion | productdesc:70 }}
    </p>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions *ngIf="!removeActions">
          <!-- <app-wishlist [item]="{'name': 'test'}"></app-wishlist> -->
          <button
                (click)="onAddToCart(product._id)"
                mat-icon-button
                matTooltip="Add to cart"
              >
          <mat-icon [ngClass]="{'active': inCart}">add_shopping_cart</mat-icon>
        </button>
        <button
                mat-icon-button
                matTooltip="More details"
              >
          <mat-icon>info</mat-icon>
        </button>
  </mat-card-actions>
  <mat-card-actions *ngIf="removeActions">
          <button
                (click)="onAddToCart(product._id)"
                mat-icon-button
                matTooltip="Remove"
              >
          <mat-icon [ngClass]="{'active': inCart}">delete</mat-icon>
        </button>
        <button
                mat-icon-button
                matTooltip="View & Edit"
              >
          <mat-icon>edit</mat-icon>
        </button>
  </mat-card-actions>
</mat-card>
