.cart-menu {
  width: 480px !important;
  min-height: 115px;
  overflow: hidden !important;
  max-height: 480px !important;
  max-width: none !important;
  .mat-menu-content {
    max-height: 480px !important;
    width: calc(480px + 13px) !important;
    max-width: none !important;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

.cart-actions {
  justify-content: center;
  align-items: center;
  > button {
    flex-basis: 50%;
    text-align: center
  }
}

.cdk-overlay-pane {
  max-width: none !important
}

@media (max-width: 600px) {

  .cart-menu {
    width: calc(100% - 30px) !important;
    max-width: 460px !important;
    min-width: calc(100% - 30px) !important;
    .mat-menu-content {
      width: calc(100% + 13px) !important;
      max-width: none !important;
    }
  }
}


