<button mat-icon-button [matMenuTriggerFor]="cartMenu">
  <mat-icon>shopping_cart</mat-icon>
</button>
<mat-menu class="cart-menu" #cartMenu="matMenu">
  <div class="flex cart-actions">
    <button mat-menu-item>
      <!-- TODO: add checkout router -->
      <mat-icon>shopping_cart</mat-icon>Checkout
    </button>
    <button mat-menu-item (click)="clearCart()">
      <mat-icon>remove_shopping_cart</mat-icon>Clear
    </button>
  </div>
  <mat-divider></mat-divider>
  <ng-template [ngIf]="(products || []).length > 0">
      <app-miniproduct *ngFor="let product of products; let i = index" [product]="product">
          <mat-divider *ngIf="i !== products.length"></mat-divider>
      </app-miniproduct>
  </ng-template>
</mat-menu>
