<div class="row">
  <ng-template [ngIf]="(products || []).length > 0">
    <div class="col-lg-4 col-md-6 col-sm-8 col-12 mx-auto" *ngFor="let product of products">
      <app-product [product]="product"></app-product>
    </div>
  </ng-template>
  <h2 *ngIf="(products || []).length === 0">No products in cart</h2>
</div>
