.app-loader {
  position: fixed;
  top: 79px;
  right: 15px;
  mat-card {
    padding: 12px !important;
    mat-spinner {
      height: 30px !important;
      width: 30px !important;
      > svg {
        height: 30px !important;
        width: 30px !important;
      }
    }
  }
}
