<div class="container">
    <div class="row">
        <div class="col-12">
          <div class="flex">
            <span class="spacer"></span>
            <button mat-raised-button color="primary" routerLink="/profile/products/new">Add new product</button>
          </div>
        </div>
        <ng-template [ngIf]="(products || []).length > 0">
          <div class="col-lg-4 col-md-6 col-sm-8 col-12 mx-auto" *ngFor="let product of products">
            <app-product [product]="product"></app-product>
          </div>
        </ng-template>
        <h2 *ngIf="(products || []).length === 0">No product was found</h2>
      </div>
</div>
