mat-form-field {
  width: 100%;
}

textarea {
  min-height: 150px;
}

button {
  margin: 25px auto
}

.img-uploader {
  height: 200px;
  border: 2px dashed #ddd;
  display: block;
  margin-bottom: 20px;
  position: relative;
  background-size: cover;
  background-position: center cneter
}

.img-uploader.noUpload {
  &::after {
    content: "close";
    transform: translate(-50%, -50%) rotate(45deg);
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 60px;
    direction: ltr;
    display: inline-block;
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 1;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    color: #ddd
  }
  &::before {
    position: absolute;
    top: calc(50% + 40px);
    left: 50%;
    transform: translate(-50%, -50%);
    content: "Click and add img or drag img to upload";
    color: #999;
    font-family: 'Roboto';
    font-weight: 400
  }
}

.upload-img-container {
  position: relative;
  .close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    font-size: 25px;
    right: 2px;
    top: 2px;
    background: #000;
    color: #FFF;
    z-index: 999;
  }
}
