<div class="row">
  <div class="col-11 mx-auto col-xl-6 col-lg-8 col-sm-10">
    <div>
      <ng-template [ngIf]="errors?.length > 0 && errors">
          <div *ngFor="let error of errors" class="alert alert-danger">
            {{ error }}
          </div>
      </ng-template>
      <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
          <div class="upload-img-container">
              <span class="close" *ngIf="src" (click)="removeImg()"><mat-icon>close</mat-icon></span>
              <label
              for="product-img"
              (dragover)="dragPrev()"
              (dragend)="dragPrev()"
              (dragenter)="dragPrev()"
              (drop)="uploadImg($event)"
              [ngStyle]="{'background-image': src}"
              [ngClass]="{'img-uploader': true, 'noUpload': !src ? true : false}"></label>
            <input type="file" #imgInput (change)="uploadImgInput($event)" hidden id="product-img" accept="image/*">
          </div>
          <mat-form-field>
              <input  matInput
                      placeholder="Product name"
                      name="title"
                      ngModel
                      type="text"
                      minlength="2"
                      required
                      >
          </mat-form-field>
          <mat-form-field>
              <input  matInput
                      placeholder="Product price"
                      name="price"
                      ngModel
                      pattern="^[0-9]+"
                      type="number"
                      required
                      >
            <mat-hint>All price in dollars(<strong>$</strong>)</mat-hint>
          </mat-form-field>
          <mat-form-field>
              <input  matInput
                      placeholder="Product Amount"
                      name="amount"
                      ngModel
                      type="number"
                      pattern="^[0-9]+"
                      value="1"
                      required
                      >
          </mat-form-field>
          <mat-form-field>
          <textarea
                    #textArea
                    matInput
                    required
                    minlength="50"
                    ngModel
                    placeholder="Product description"
                    name="describtion"
                    ></textarea>
            <mat-hint>You wrote <strong>{{ textArea.value.length }}</strong> chars and minimum required chars is 50</mat-hint>
          </mat-form-field>
        <div class="flex">
          <button mat-raised-button color="primary" type="submit" [disabled]="!(f.valid && file)">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>
<app-loadingbar *ngIf="uploadingImg" [value]="value"></app-loadingbar>
