<div class="container">
    <div class="row">
      <ng-template [ngIf]="(products || []).length > 0">
        <div class="col-lg-4 col-md-6 col-sm-8 col-12 mx-auto" *ngFor="let product of products">
          <div>
            <app-product [product]="product"></app-product>
          </div>
        </div>
      </ng-template>
      <mat-card *ngIf="(products || []).length === 0">
        <h2>No Available products</h2>
      </mat-card>
      <section class="navigator" *ngIf="pages > 1">
          <button [disabled]="id === 1"
                  mat-raised-button
                  routerLink="/products/1"
                  matTooltip="First page"
                  *ngIf="pages > 3">
            <mat-icon>first_page</mat-icon>
          </button>
          <ng-template [ngIf]="array">
              <button *ngFor="let i of array"
                      mat-raised-button
                      [routerLink]="'/products/' + ((pages === 2 ? 0 : id) + i)"
                      [ngClass]="{'active': id === ((pages === 2 ? 0 : id) + i)}">{{ (pages === 2 ? 0 : id) + i }}</button>
          </ng-template>
          <button
                  [disabled]="id === pages"
                  mat-raised-button
                  [routerLink]="'/products/' + pages"
                  matTooltip="Last page"
                  *ngIf="pages > 3">
            <mat-icon>last_page</mat-icon>
          </button>
      </section>
    </div>
  </div>
