.navigator {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  button {
    min-width: auto !important;
    &.active {
      background: dodgerblue
    }
  }
}
