<app-profileheader></app-profileheader>
<section id="information">
  <div class="container">
      <app-profilelinks [user]="user._id !== id ? (visitedUser || {}) : user" [id]="user._id"></app-profilelinks>
  </div>
</section>
