<main [ngClass]="classes">
  <mat-sidenav-container class="app-layout">
    <mat-sidenav mode="over" [(opened)]="opened" class="layout-sidenav">
      <button mat-button routerLink="/">Home</button>
      <button mat-button routerLink="/signup">Register</button>
      <button mat-button routerLink="/signin">Login</button>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary" class="navbar">
        <mat-toolbar-row>
          <div class="container flex">
            <button mat-icon-button class="layout-toggler" (click)="opened = !opened">
              <mat-icon>menu</mat-icon>
            </button>
            <span>Market</span>
            <span class="spacer"></span>
            <app-links [user]="user"></app-links>
            <app-accout [user]="user" *ngIf="user.token"></app-accout>
            <app-cart></app-cart>
            <app-colors (globalTheme)="changeTheme($event)"></app-colors>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
      <perfect-scrollbar #layoutScroll> <!--  [disabled]="loading" -->
        <ng-content></ng-content>
        <app-footer></app-footer>
        <app-spinner *ngIf="loading"></app-spinner>
      </perfect-scrollbar>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>
