.app-layout {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  .layout-sidenav {
    > button {
      width: 100%;
      padding: 10px 0;
    }
  }
  .layout-toggler {
    margin-top: -4px
  }
}

mat-sidenav-content {
  padding-top: 64px;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' style='opacity: 0.07' width='300' height='300' viewBox='0 0 30 30' fill='none' stroke-linecap='round' stroke-linejoin='round'><path stroke='aquamarine' d='M2,2 Q5,2 5,5 T8,8'/><path stroke='cornflowerblue' d='M12,2 L18,2 L12,5 L18,5 L12,8 L18,8'/><path stroke='darksalmon' d='M22,2 Q28,2 25,5 T28,8'/><path stroke='gold' d='M2,18 L5,12 L8,18'/><rect stroke='mistyrose' x='12' y='12' width='6' height='7'/><path stroke='lightseagreen' d='M22,15 S22,20 24,15 S27,18 28,14'/><path stroke='turquoise' d='M2,22 Q8,22 8,28'/><rect stroke='orchid' x='12' y='22' rx='3' width='6' height='7'/><path stroke='bisque' d='M22,22 L25,28 L28,22'/></svg>");
  > .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
}

@media (max-width: 599px) {
  mat-sidenav-content {
    padding-top: 56px !important
  }
}

