.rate {
  width: 0;
  position: relative;
  height: 23px;
  width: 90px;
  margin-bottom: 10px;
  div {
    width: 0;
    overflow: hidden;
    position: absolute;
    height: 25px;
  }
}

.rate::after,
.rate div::after {
  content: "\e83a\e83a\e83a\e83a\e83a";
  color: #ffa500;
  direction: ltr;
  display: inline-block;
  font-family: 'Material Icons';
  font-size: 20px;
  letter-spacing: -3px;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


.rate div::after {
  content: "\e838\e838\e838\e838\e838" !important;
  z-index: 5;
}
