.loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0,0,0,.2);
  display: flex;
  justify-content: center;
  align-items: center;
  > mat-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    > mat-progress-bar {
      width: calc(100% - 35px)
    }
    > p {
      font-family: 'Roboto';
      font-size: 17px;
    }
  }
}
