<section class="loading-bar">
  <mat-card>
      <mat-progress-bar
        color="primary"
        mode="determinate"
        [value]="value">
    </mat-progress-bar>
    <p>{{ value }}<strong>%</strong></p>
  </mat-card>
</section>
