/* You can add global styles to this file, and also import other style files */
body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box
}

@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import '../node_modules/bootstrap/dist/css/bootstrap-grid.min.css';
@import '~@angular/material/theming';

@include mat-core();


$app1-primary: mat-palette($mat-indigo);
$app1-accent:  mat-palette($mat-blue-grey);

$app2-primary: mat-palette($mat-teal);
$app2-accent:  mat-palette($mat-lime);

$app3-primary: mat-palette($mat-amber);
$app3-accent:  mat-palette($mat-orange);

$app4-primary: mat-palette($mat-blue);
$app4-accent:  mat-palette($mat-light-blue);


$app1-light: mat-light-theme($app1-primary, $app1-accent);
$app1-dark: mat-dark-theme($app1-primary, $app1-accent);
.indigo {@include angular-material-theme($app1-light); }
.indigo.dark { @include angular-material-theme($app1-dark); }

$app2-light: mat-light-theme($app2-primary, $app2-accent);
$app2-dark: mat-dark-theme($app2-primary, $app2-accent);
.teal { @include angular-material-theme($app2-light);}
.teal.dark { @include angular-material-theme($app2-dark); }

$app3-light: mat-light-theme($app3-primary, $app3-accent);
$app3-dark: mat-dark-theme($app3-primary, $app3-accent);
.amber { @include angular-material-theme($app3-light); }
.amber.dark { @include angular-material-theme($app3-dark); }

$app4-light: mat-light-theme($app4-primary, $app4-accent);
$app4-dark: mat-dark-theme($app4-primary, $app4-accent);
.blue { @include angular-material-theme($app4-light); }
.blue.dark { @include angular-material-theme($app4-dark); }

.flex {
  display: flex
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.spacer {
  flex: 1 1 auto
}

.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
