.mini-product {
  height: 90px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  transition: .3s;
  div:nth-of-type(1) {
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img {
      height: 65px;
      width: 86px;
    }
    div {
      padding: 0 15px;
      h3 {
        margin: 0;
        line-height: 22px;
        font-size: 1.23rem;
        text-transform: capitalize;
        height: 25px;
        overflow: hidden;
        color: #111;
      }
      p {
        margin: 0;
        line-height: 1.4rem;
        height: 44px;
        color: #444
      }
    }
  }
  mat-icon {
    color: rgba(0, 0, 0, 0.54)
  }
  &:hover {
    background: rgba(0, 0, 0, 0.04);
  }
}

.darker {
  background-color: rgba(0,0,0,.03)
}
