<section class="mini-product" [ngClass]="{'darker': darker}">
  <div class="flex">
    <img [src]="product.image" [alt]="product._id" />
    <div class="mat-typography">
      <h3>{{ product.title }}</h3>
      <p>{{ product.describtion | productdesc:91 }}</p>
    </div>
  </div>
    <div>

    <button mat-icon-button (click)="removeFromCart($event, product._id)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
</section>
<ng-content></ng-content>
