<mat-card>
  <form novalidate>
    <div>
      <h3>Cover picture:</h3>
      <input (change)="onChangeHandler($event, 'coverFile')" type="file" #cover>
    </div>
    <div>
      <h3>Profile picture:</h3>
      <input (change)="onChangeHandler($event, 'profileFile')" type="file" #profile>
    </div>
    <div class="flex">
      <button mat-button color="primary"
        (click)="onSubmit()"
        [disabled]="!coverFile || !profileFile"
      class="mx-raised-auto">Save</button>
    </div>
  </form>
</mat-card>
