
<button mat-button routerLink="/">Home</button>
<button mat-button routerLink="/products/1">Products</button>
<button mat-button routerLink="/signup" *ngIf="!user.token">Register</button>
<button mat-button routerLink="/signin" *ngIf="!user.token">Login</button>
