<mat-tab-group dynamicHeight>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>info</mat-icon>
      Information
    </ng-template>
    <app-information [user]="user"></app-information>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>list</mat-icon>
      Products
    </ng-template>
    <app-userproducts [user]="user" [id]="id"></app-userproducts>
  </mat-tab>
  <ng-template [ngIf]="id === user._id">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>shopping_cart</mat-icon>
        My cart
      </ng-template>
      <app-usercart></app-usercart>
    </mat-tab>
    <!-- <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>settings</mat-icon>
        Setting
      </ng-template>
      <app-usersettings></app-usersettings>
    </mat-tab> -->
  </ng-template>
</mat-tab-group>
<!--
<mat-button-toggle-group *ngIf="user._id === id" name="profile-links" aria-label="Font Style">
  <mat-button-toggle
            [routerLink]="'/profile/' + user._id"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
            <mat-icon>info</mat-icon>Information
  </mat-button-toggle>
  <mat-button-toggle
            [routerLink]="'/profile/' + user._id + '/products'"
            routerLinkActive="active">
            <mat-icon>list</mat-icon>My Products
  </mat-button-toggle>
  <mat-button-toggle
            [routerLink]="'/profile/' + user._id + '/cart'"
            routerLinkActive="active">
            <mat-icon>shopping_cart</mat-icon>My Cart
  </mat-button-toggle>
  <mat-button-toggle
            [routerLink]="'/profile/' + user._id + '/settings'"
            routerLinkActive="active">
            <mat-icon>settings</mat-icon>Setting
  </mat-button-toggle>
</mat-button-toggle-group>
 -->
