<section id="header">
  <div class="full-screen" [ngStyle]="{'background-image': 'url(http://placehold.it/1920x450/34495e)'}"></div>
  <div class="profile-img">
    <img src="http://placehold.it/150x150/34495e" alt="personal-profile-img"/>
  </div>
</section>
