#header {
  position: relative;
  .full-screen {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 350px;
  }
  .profile-img {
    height: 160px;
    width: 160px;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 270px;
    left: 5%;
    border-radius: 50%;
    > img {
      border-radius: 50%;
    }
  }
}
