<button mat-icon-button [matMenuTriggerFor]="colorMenu">
    <mat-icon>format_color_fill</mat-icon>
  </button>
  <mat-menu #colorMenu="matMenu">
    <div mat-menu-item>
      <mat-slide-toggle (change)="changeMode()" [checked]="this.classes['dark']">Dark Mode</mat-slide-toggle>
    </div>
    <mat-grid-list cols="2" rowHeight="1.5:1">
      <mat-grid-tile *ngFor="let color of colors; let i = index" [ngStyle]="{'background-color': color.color}">
        <mat-icon *ngIf="classes[color.className]">check_circle</mat-icon>
        <button mat-menu-item (click)="changeTheme(i)"></button>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-menu>
