<section id="login">
  <div class="container">
    <h1>Login</h1>
    <div class="row">
      <div class="col-11 mx-auto col-xl-6 col-lg-8 col-sm-10">
        <div>
          <ng-template [ngIf]="errors.length > 0">
            <div class="alert alert-danger" *ngFor="let error of errors">
              {{ error }}
            </div>
          </ng-template>
          <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
              <mat-form-field>
                <input  matInput
                        placeholder="Email"
                        name="email"
                        [(ngModel)]='email'
                        type="email"
                        email
                        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                        required
                        >
              </mat-form-field>
              <mat-form-field>
                <input  matInput
                        placeholder="Password"
                        name="password"
                        ngModel
                        type="password"
                        minlength="2"
                        required
                        >
              </mat-form-field>
              <div class="flex">
                <button
                    mat-raised-button
                    type="submit"
                    color="primary"
                    [disabled]="!f.valid">Login</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
