<mat-card>
  <mat-tab-group dynamicHeight>
    <mat-tab label="My products">
      <app-uproducts [user]="user"></app-uproducts>
    </mat-tab>
    <mat-tab label="Add new product" *ngIf="user._id === id">
      <app-newproduct></app-newproduct>
    </mat-tab>
  </mat-tab-group>
</mat-card>
