<mat-card *ngIf="user">
    <mat-card>
      <h2>Full name:</h2>
      <p>{{ user.firstName }} {{ user.lastName }}</p>
    </mat-card>
    <mat-card *ngIf="(user.about || '').length > 0">
        <h2>About:</h2>
        <p>{{ user.about }}</p>
    </mat-card>
    <mat-card>
      <h2>Gender:</h2>
      <p [ngStyle]="{'text-transform': 'capitalize'}">{{ user.gender }}</p>
    </mat-card>
    <mat-card *ngIf="user.date">
      <h2>Joined Date:</h2>
      <p>{{ user.date | date:'medium' }}</p>
    </mat-card>
</mat-card>
