<section id="register">
  <div class="container">
    <h1>Join Us</h1>
    <div class="row">
      <div class="col-11 mx-auto col-xl-6 col-lg-8 col-sm-10">
        <div>
          <ng-template [ngIf]="errors.length > 0">
            <div class="alert alert-danger" *ngFor="let error of errors">
              {{ error }}
            </div>
          </ng-template>
          <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
              <mat-form-field>
                <input  matInput
                        placeholder="First name"
                        name="firstName"
                        ngModel
                        type="text"
                        minlength="2"
                        required
                        >
              </mat-form-field>
              <mat-form-field>
                <input  matInput
                        placeholder="Last name"
                        name="lastName"
                        ngModel
                        type="text"
                        minlength="2"
                        required
                        >
              </mat-form-field>
              <mat-form-field>
                <input
                        matInput
                        placeholder="Email"
                        name="email"
                        type="email"
                        ngModel
                        required
                        email
                        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                        >
              </mat-form-field>
              <mat-form-field>
                  <mat-select
                      placeholder="Gender"
                      ngModel
                      name="gender"
                      required>
                    <mat-option value="male">Male</mat-option>
                    <mat-option value="female">Female</mat-option>
                  </mat-select>
              </mat-form-field>
              <mat-form-field>
                  <input
                          matInput
                          placeholder="Password"
                          name="password"
                          type="password"
                          ngModel
                          required
                          minlength="6"
                          >
              </mat-form-field>
              <div class="flex">
                <button mat-raised-button type="submit" color="primary" [disabled]="!f.valid">Register</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
